<h2>Admin Dashboard</h2>

<!-- File input -->
<input type="file" #fileInput accept=".yaml,.yml" />

<!-- Buttons -->
<div style="margin-top: 10px;">
  <button (click)="triggerJob(fileInput)">Upload & Trigger ELT Job</button>
  <button (click)="viewLogs()">View Logs</button>
  <button (click)="viewHistory()">View Config History</button>
  <button (click)="viewData(fileInput)">📊 View Uploaded Table Data</button>
  <button (click)="fetchCoverage()">📈 View Test Coverage</button>
  <div *ngIf="coveragePercent">
  <p><strong>Backend Test Coverage:</strong> {{ coveragePercent }}%</p>
</div>


</div>
